<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'head.html' %}
  </head> 
  <body>
  <!-- NAVBAR  -->
    {% set active_page = "api" %}
    {% include 'navbar.html' %}
    
    <!-- Main Container --> 
    <div class="container">
    
      <!-- Title banner with headlines -->  
      <div class="jumbotron">
        <h2>{{ title }}{% if subtitle %}: {{ subtitle }} {% endif %}</h2>
        <h4> {{ market }}: {{ location }}</h4>
        <h4 class="text-muted"> Presented By: {{ author }}</h4>
      </div>
      <!-- CONTENT -->
      
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8">
      		<h3 class="bold-blue">Demand Prediction API (v1)</h3>
      	</div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
      	<p>Wednesday, September 25, 2013</p>
      	<div class="col-md-10">
      		<br>
      		<p>This RESTful API has two main components:</p>     	
			<h4>Data API</h4>
      		<p>GET Original Uber Data: <a href="http://localhost:5000/api/v1/data">http://localhost:5000/api/v1/data</a>
      		<p>GET the Prediction Model Components: <a href="http://localhost:5000/api/v1/model">http://localhost:5000/api/v1/model</a>
      		<br><br>
      		<h4>Demand Prediction API</h4>
      		<!--
      		<p>GET Demand Prediction Data: <a href="http://localhost:5000/api/v1/prediction">http://localhost:5000/api/v1/prediction</a>
      		-->
      		<p>GET Demand Prediction for Specific Date and Hour: <a href="http://localhost:5000/api/v1/prediction?q=2012-05-01T00:00:00">http://localhost:5000/api/v1/prediction?q=YYYY-MM-DDTHH:MM:SS</a>
      	</div>
      </div>
      
      <div class="col-md-8">
		<br><br>
      </div>
      
      <!-- FOOTER -->
      <footer>
	    {% include 'footer.html' %}
      </footer>
      
    </div><!-- /.container -->

    {% include 'footer_js.html' %}
  
  </body>
</html>