<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'head.html' %}
  </head> 
  <body>
  <!-- NAVBAR  -->
    {% set active_page = "api" %}
    {% include 'navbar.html' %}
    
    <!-- Main Container --> 
    <div class="container">
    
      <!-- Title banner with headlines -->  
      <div class="jumbotron">
        <h2>{{ title }}{% if subtitle %}: {{ subtitle }} {% endif %}</h2>
        <h4> {{ projectname }}: {{ market }}</h4>
        <h4 class="text-muted"> Presented By: {{ author }}</h4>
      </div>
      <!-- CONTENT -->
      
      <div class="col-md-10">
      	<h3>Welcome to Drew's Uber Coding Challenge API!</h3>
      	<h4>API Version 1 (v1)</h4>
      	<br>
      	<p>This RESTful API has two main components:</p>     	
		<h4>Data API</h4>
      	<p>GET Original Uber Data: <a href="http://localhost:5000/api/v1/data">http://localhost:5000/api/v1/data</a>
      	<p>GET the Data used to Train the Prediction Model: <a href="http://localhost:5000/api/v1/model">http://localhost:5000/api/v1/model</a>
      	<br><br>
      	<h4>Demand Prediction API</h4>
      	<p>GET Demand Prediction Data: <a href="http://localhost:5000/api/v1/prediction">http://localhost:5000/api/v1/prediction</a>
      	<p>GET Demand Prediction Data for Specific Date and Hour: <a href="http://localhost:5000/api/v1/prediction/05-01-2012T00:00:00">http://localhost:5000/api/v1/prediction/MM-DD-YYYTHH:MM:SS</a>
      	<br><br>
      </div>
      
      <!-- FOOTER -->
      <footer>
	    {% include 'footer.html' %}
      </footer>
      
    </div><!-- /.container -->

    {% include 'footer_js.html' %}
  
  </body>
</html>