<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'head.html' %}
  </head> 
  <body>
  <!-- NAVBAR  -->
    {% set active_page = "demand" %}
    {% include 'navbar.html' %}
    
    <!-- Main Container --> 
    <div class="container">
    
      <!-- Title banner with headlines -->  
      <div class="jumbotron">
        <h2>{{ title }}{% if subtitle %}: {{ subtitle }} {% endif %}</h2>
        <h4> {{ projectname }}: {{ market }}</h4>
        <h4 class="text-muted"> Presented By: {{ author }}</h4>
      </div>
      <!-- CONTENT -->
      
      <!-- FOOTER -->
      <footer>
	    {% include 'footer.html' %}
      </footer>
      
    </div><!-- /.container -->

    {% include 'footer_js.html' %}
  
  </body>
</html>