<!-- Disclaimer button trigger modal -->
<a data-toggle="modal" href="#disclaimerModal" class="btn btn-default btn-sm">Disclaimer</a>
<!-- Modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Site Disclaimer</h4>
			</div>
			<div class="modal-body">
				<p>All content on this site is provided for informational purposes only. No animals were harmed in the making of the API (at least not any cute ones anyway).</p>
				<p>I hope you have found this API useful. 
				<p>This has been a very interesting project. The data set seemed innocuous at first but once I dug in a little more and applied some basic analysis techniques several temporal patterns we're revealed. It became immediately apparent that there was more than meets the eye. 
				<p>I was surprised to see so many aspects of human society encapsulated in this rather concise data set. For example there is a clear pattern showing late night activity on Friday and Saturday nights, there are episodic events (i.e. Holidays, Day Light Savings) and then other components that are possibly Weather related. I'm now even more curious about what this type of data can reveal about human behavior and how we interact with time and place.  </p>
				<p>-<a href="mailto:ajsmith007@gmail.com">Drew</a>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->