<!--head-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Uber: Code Challenge">
	<meta name="author" content="Drew Smith">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	<title>{{ title }}</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="assets/js/html5shiv.js"></script>
	  <script src="assets/js/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

<!--/head-->