<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'head.html' %}
  </head> 
  <body>
  <!-- NAVBAR  -->
	{% set active_page = "index" %}
    {% include 'navbar.html' %}
    
    <!-- Main Container --> 
    <div class="container">
    
      <!-- Title banner with headlines -->  
      <div class="jumbotron">
        <h2>{{ title }}{% if subtitle %}: {{ subtitle }} {% endif %}</h2>
        <h4> {{ market }}: {{ location }}</h4>
        <h4 class="text-muted"> Presented By: {{ author }}</h4>
      </div>
      <!-- CONTENT -->
      
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8">
      		<h3>Demand Prediction Challenge</h3>
      	</div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
      	<p>Wednesday, September 25, 2013</p>
      	<div class="col-md-8">
      		<br>
      		<p>This site presents a Methodology, the Demand Prediction Results and an API to predict demand for Uber services in Washington D.C. from <a href ="results.html">May 1, 2012 through May 15, 2012</a> as part of the <a href="#">Demand Prediction Challenge</a></p>
      		<br>
      		<p>    	
			<h4>Methodology</h4>
      		<p>Crunching data to find patterns in the raw stream of Uber App timestamp data
      		<br><br>
      		<h4>Demand Prediction</h4>
      		<p>Text
      		<br><br>
      		<h4>Application Programming Interface (API)</h4>
      		<p>Supercharge your demand prediction algorithm then share it with the world.
      		<br><br>
      		<h4>Who is this guy?</h4>
      		<p>A few links to professional and social media outlets 
      	</div>
      </div>
      
      <!-- FOOTER -->
      <footer>
	    {% include 'footer.html' %}
      </footer>
      
    </div><!-- /.container -->

    {% include 'footer_js.html' %}
  
  </body>
</html>