<!DOCTYPE html>
<html lang="en">
  <head>
	{% include 'head.html' %}
  </head> 
  <body>
  <!-- NAVBAR  -->
	{% set active_page = "index" %}
    {% include 'navbar.html' %}
    
    <!-- Main Container --> 
    <div class="container">
    
      <!-- Title banner with headlines -->  
      <div class="jumbotron">
        <h2>{{ title }}{% if subtitle %}: {{ subtitle }} {% endif %}</h2>
        <h4> {{ market }}: {{ location }}</h4>
        <h4 class="text-muted"> Presented By: {{ author }}</h4>
      </div>
      <!-- CONTENT -->
      
      
      <hr class="featurette-divider">
      <div class="row featurette">
      	<p class="col-md-offset-1">Wednesday, September 25, 2013</p>
      	<div class="col-md-offset-1 col-md-10">
      		<h3 class="bold-blue">Overview</h3>
      		<p>This site presents a <a href="methodology.html">Methodology</a>, the Demand Prediction <a href="results.html">Results</a> and an <a href="api.html">API</a> to predict demand for Uber services in Washington D.C. from May 1, 2012 through May 15, 2012 as part of the <a href="../static/docs/uber_demand_prediction_challenge.pdf">Demand Prediction Challenge</a>.</p>
      		<br>
      		<p>    	
			<h4><a href="methodology.html">Methodology</a></h4>
      		<p>Crunching data to find patterns in the raw stream of Uber App data to reveal insights into human behavioral patterns, geography, habits and movement. Logistics meets the modern world.  
      		<br><br>
      		<h4><a href="results.html">Results</a></h4>
      		<p>Answers to When? and Where? all from a simple timestamp in UTC from a mobile phone.  
      		<br><br>
      		<h4><a href="api.html">Application Programming Interface (API)</a></h4>
      		<p>Supercharge a demand prediction algorithm then share it with the world.
      		<br><br>
      		<h4><a href="http://www.linkedin.com/in/ajsmith007" target="_blank">Who is this guy?</a></h4>
      		<p>A few links to professional and social media outlets. 
      	</div>
      </div>
      
      <div class="col-md-offset-1 col-md-10">
		<br><br>
      </div>
      
      <!-- FOOTER -->
      <footer>
	    {% include 'footer.html' %}
      </footer>
      
    </div><!-- /.container -->

    {% include 'footer_js.html' %}
  
  </body>
</html>