<!-- Resume button trigger modal -->
<a data-toggle="modal" href="#resumeModal" class="btn btn-default btn-sm">Resume</a>
<!-- Modal -->
<div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="resumeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4 class="modal-title">Resume</h4>
		    </div>
		    <div class="modal-body">
			    <p>
			    <b>Andrew J. Smith</b>
				<br>(415)735-5696
				<br><a href="mailto:ajsmith007@gmail.com">ajsmith007@gmail.com</a>
				<p>
				<b>Summary:</b> Not one but two degrees in Geography! Almost a rocket scientist? Over the course of my career I have been able to apply my inherent curiosity and technical skills to a wide range of complex technical problems. My experience with large data sets, machine learning algorithms and advanced modeling techniques has allowed me to make connections between seemingly disparate pieces of information to produce visionary products. I thrive in fast paced environments with focused teams composed of diverse individuals and my expertise extends from basic R&D through product delivery.
				<p>
				<b>Skills:</b> Python, R, C/C++, Java, Matlab, SQL, LAMP stack, Eclipse, Git, SVN, MathCAD, IDL, GPS, GIS, Hadoop Map/Reduce and Distributed/Cloud software solutions, Adobe CS and image processing
				<p>
				<b>Recent Projects:</b> 
				<ul>
					<li>Twitter Sentiment Analysis in R</li>
					<li>Streaming Futures Analysis in Python on AppEngine</li>
				</ul>
				<p>
				<b>Senior Research Scientist</b> 
				<br>San Francisco, CA  (<i>05/2012-present</i>) 
				<br>True North Innovations Inc. (<i>Co-Founder</i>)
				<ul>
					<li>Product Manager, lead programmer and designer for a web-based financial planning application responsible for the project concept, algorithm implementation, UX/UI design and site analytics</li>
					<li>Specialized research into BigData image processing and machine learning solutions for the DoD</li>
				</ul>
				<p>
				<b>Electro-Optical Scientist</b>
				<br>Seal Beach, CA (<i>05/2003-05/2012</i>) 
				<br>Science Applications International Corporation (SAIC) 
				<ul>
					<li>Chief Architect and Lead Programmer for GPS analysis software package delivered to US Air Force</li>
					<li>Lead Scientist and Co-System Architect for a disruptive low-cost satellite constellation concept</li>
					<li>Hardware/Software Integration & Test Director for two experimental satellite payload programs</li>
					<li>Space-based algorithm development for real-time embedded satellite software applications</li>
				</ul>
				<p>
				<b>Independent Research Consultant</b>
				<br>Santa Barbara, CA (<i>09/2002-05/2003</i>)
				<ul>
					<li>Applied regression tree analysis to map continuous tree cover across Chesapeake Bay Watershed</li>
					<li>Technical GIS consultant, cartographer and image processing specialist for Livermore TDC project</li>
				</ul>
				<p>
				<b>Faculty Research Assistant</b>  
				<br>University of Maryland, College Park, Maryland (<i>01/2001-09/2002</i>)
				<ul>
					<li>Developed and implemented innovative technical approaches to satellite-based impervious surface and tree cover mapping using regression tree algorithms for NASA funded Mid-Atlantic RESAC</li>
				</ul>
				<p>
				<b>Graduate Research Assistant</b>  
				<br>University of Maryland, College Park, Maryland (<i>09/1999-12/2000</i>)
				<ul>
					<li>Demonstrated machine learning algorithms and distributed processing techniques using terabytes of Landsat data using Splus and an ad-hoc Unix cluster enabled through FTP and custom shell scripts</li>
				</ul>
				<p>
				<b>GIS/GPS Technician</b>  
				<br>Yellowstone National Park (<i>Summer 2000</i>) 
				<p><b>Master of Arts, Geography</b>  University of Maryland, College Park <i>2000</i>
				<p><b>Bachelor of Science, Geography</b>  University of Maryland, College Park <i>1999</i>
				<p>
				<br>Number One Question Asked of People with Geography Degrees: What&#39;s the State Capitol of ____?
		    </div>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
